.card-block {
    width: 100%;
    overflow: hidden;
    position: relative;
    max-width: 110rem;
}


.card-block 
.card-content {
    margin: 0 auto;
    padding: 100px 0;
    position: relative;
    left: calc(30% + 50px);
}

.card-block 
.card-text {
    max-width: 470px;
    margin-left: 2rem;
}

.card-media {
    position: absolute;
    padding-left: 10px;
    
    top: 10px;
    max-height: 550px;
    bottom: 10px;
}

.shadow-l-dark {
    box-shadow: 0 4px 30px rgba(0,0,0,.25);
}

div {
    display: block;
}

.bg-alt {
    background-color: #fafafa;
}
