h2, h4, p, button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #003057;
}
div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
.card {
    margin: 10px;
    padding: 20px;
}